<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmpB4EC2627BDB13AAF4ADEC9F474A61E7C" Guid="*">
                <File Id="fil7C089284176A351615B1D70217773FA1" KeyPath="yes" Source="$(var.HarvestPath)\appsettings.json" />
            </Component>
            <Component Id="cmpCC0016ACC4ED654B6C8E5B7F9B0C9420" Guid="*">
                <File Id="fil126DAEF9CD1D9FBA85DCC971D5808AC6" KeyPath="yes" Source="$(var.HarvestPath)\Autofac.dll" />
            </Component>
            <Component Id="cmp4DAA1D59EDC481FF80AC910367D153B5" Guid="*">
                <File Id="fil3F1472387FD1BE7C65361CAF17B70E1F" KeyPath="yes" Source="$(var.HarvestPath)\Dapper.ColumnMapper.dll" />
            </Component>
            <Component Id="cmp07A234C7891318D2D5BD05565EE3AEA5" Guid="*">
                <File Id="fil37C959533EB1A86046CD227075B0148F" KeyPath="yes" Source="$(var.HarvestPath)\Dapper.dll" />
            </Component>
            <Component Id="cmp381EC80B490A953D6597072496F92B2E" Guid="*">
                <File Id="fil7DFD2A683DC5DD9AE627D7E981F10CF0" KeyPath="yes" Source="$(var.HarvestPath)\EntityFramework.dll" />
            </Component>
            <Component Id="cmp1D15F52EE2DA47C837A931786171486E" Guid="*">
                <File Id="filA912EE64A53B15C1D42E5728EB204CE7" KeyPath="yes" Source="$(var.HarvestPath)\EntityFramework.SqlServer.dll" />
            </Component>
            <Component Id="cmp73D43A99BB20724CF1D2570FFADFB9B4" Guid="*">
                <File Id="filF77F4D2F27968061E8259591499DA5C4" KeyPath="yes" Source="$(var.HarvestPath)\EntityFramework.SqlServerCompact.dll" />
            </Component>
            <Component Id="cmpB90445A7ACE6DB26DFB11BCC87A2B5CD" Guid="*">
                <File Id="fil6D810B54088C683A98A02C4AAFC7BC2E" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Caching.Abstractions.dll" />
            </Component>
            <Component Id="cmpE37EFC5934FFAB85B42D08B00640E3F9" Guid="*">
                <File Id="fil8C413A0D2AD90E1061B26A2633BAD295" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Caching.Memory.dll" />
            </Component>
            <Component Id="cmp8FF20BB6E9E1039BAAF705C6E421B34E" Guid="*">
                <File Id="filF640FB5F13E97BAD50106FFC74CA0515" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp9600FEB1902D7DA917FD445DDA9F3CBA" Guid="*">
                <File Id="fil773A346D214AC0962FABFD5068676C36" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp9F2C63E021EEC1097662A0016E3A9437" Guid="*">
                <File Id="fil2A9A0281FD23F23037DB0F8E3D6A5CBD" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp9A2CE43A4C68F068A7DCE986EE90E208" Guid="*">
                <File Id="fil099B8E4B5B574358F0790F30628060C0" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmpCB3A5D76A5E05336DC3B3CA1B4F454AC" Guid="*">
                <File Id="fil28A85E1F38ABF61F6B4B8B485B436D8E" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmpBCA2D2639D9EACD23CDC73FE80070E9B" Guid="*">
                <File Id="fil80254EA06ED1970F3724C7F2D98F487C" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpCB4D6C6861A296D02F18EF5F7F637249" Guid="*">
                <File Id="filC41FA828CE13679EA1B25A5EC4AB82D7" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp75CE102DEC9E6B31BBFEE1083624A0FE" Guid="*">
                <File Id="filC91AF9F5BCC87EA46713DA19BEE6964B" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp8F52B0D9603B8CDF0CE9B808F29E8C04" Guid="*">
                <File Id="fil38E59ABE4B27B3E3F3BD4C4F6C36E7E7" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpF2C47B5B4FF40FF256F58C4C998FA865" Guid="*">
                <File Id="fil6C5BAA927055E2EA4DDC0C2759255D9F" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp067948BD791077DB950FC74F23D9632C" Guid="*">
                <File Id="filE8C60BD18DF0BCBB77CEC821646DA670" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp9CFD8F6077EAA64A188B00D4268FAA1A" Guid="*">
                <File Id="fil78066B962EBBED0CD04A38EBB7A43855" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp921C9DB1539A19CC0B4105688D50941F" Guid="*">
                <File Id="fil129504C0E557BCD3D6C023F36AF7243F" KeyPath="yes" Source="$(var.HarvestPath)\netstandard.dll" />
            </Component>
            <Component Id="cmp72974F93C3F42DAFDBFB2867D92E41D9" Guid="*">
                <File Id="fil7F15BA8094994ADAD04DA907E934B5BD" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp1F8B77A1F2F56EB0281FBA71AB1C9365" Guid="*">
                <File Id="fil7F496AEE436C36E3B37A9311472EFEDD" KeyPath="yes" Source="$(var.HarvestPath)\PokemonGenerator.exe" />
            </Component>
            <Component Id="cmpB794F0CBE33F3C79421A163136B763C5" Guid="*">
                <File Id="filA317716712EB9FCC36924220BB675F42" KeyPath="yes" Source="$(var.HarvestPath)\PokemonGenerator.exe.config" />
            </Component>
            <Component Id="cmp68374DE99DC9F5A25B3283F7906DD559" Guid="*">
                <File Id="fil3C8A11A82A3E7F126C7D6F6A862B444A" KeyPath="yes" Source="$(var.HarvestPath)\PokemonGenerator.pdb" />
            </Component>
            <Component Id="cmpF66ACC905D7DE02A512393D4B54FB41E" Guid="*">
                <File Id="fil796707C71AE9E88F4C692D607738D0FE" KeyPath="yes" Source="$(var.HarvestPath)\Svg.dll" />
            </Component>
            <Component Id="cmpE9A753B853001A3132F0AC8B18B8EB00" Guid="*">
                <File Id="fil2CA2C2E32FE967654B6D72FA6BBDE5DF" KeyPath="yes" Source="$(var.HarvestPath)\System.AppContext.dll" />
            </Component>
            <Component Id="cmpE622C3CB93600C548BD343B23FF42EE8" Guid="*">
                <File Id="fil30E000ECA4F9FAEEB477C110D5DAC23F" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp06C8CDD284EC9C3BFF25B29C5BAFCE79" Guid="*">
                <File Id="fil03E796C3CD4D934DAC65F4A2A67F8160" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp5B4A477CCB780900D714C03EBF973289" Guid="*">
                <File Id="filF7B87AE8CA584C16EF82554226CD282B" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp2E70A13F8878B3D396BFB0F38F143B89" Guid="*">
                <File Id="fil037762CB7CF141769A16F671C5B78754" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmpF1E04B8775339ACC715F8FA97768460D" Guid="*">
                <File Id="fil98D0FC8050D518911AC3E6ED6303E2F1" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp22D11CA39403A28AA9AC2DB9105A1273" Guid="*">
                <File Id="fil10E099A7F1044DA622316C8ED29F65BD" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp07F275DE6D7E9E3A970A1A86777CEF22" Guid="*">
                <File Id="fil9CC21ADAAA5B50C725B03FF66B824B9C" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmpD9FEE78B96F10D88D63C02E70AB799A5" Guid="*">
                <File Id="fil45DB7AD4658C8305496BC73C4194F502" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmpDA89116CA47D6ED2AE5511C0278ECA46" Guid="*">
                <File Id="fil31BDF8E43DB6357B3A0A53DB3FF012E1" KeyPath="yes" Source="$(var.HarvestPath)\System.Console.dll" />
            </Component>
            <Component Id="cmpCF7D159A9F6C4F17685CC3AA3AB77C61" Guid="*">
                <File Id="filD3EB07A321DD85414B0192F70A4841E8" KeyPath="yes" Source="$(var.HarvestPath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp92167893C4A70A154F72D6DA80CECEAA" Guid="*">
                <File Id="filBD733973B2B00B6164DEB7924D04056B" KeyPath="yes" Source="$(var.HarvestPath)\System.Data.SqlServerCe.dll" />
            </Component>
            <Component Id="cmp4B7754714BB7B52B3E216332BD72E98B" Guid="*">
                <File Id="fil2D600FF0E79738B8823F05510086D213" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmp340922508C520AC9F7D53B9608D8BD38" Guid="*">
                <File Id="filEE1E4A07829FDF5F2223245B4944ED58" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmp0F564880F72275CA7677A8DD804A8B17" Guid="*">
                <File Id="filD602B25D206BA4C87BE0DD30747E62BA" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmp5E98F56B38CF31482ACC957203361E97" Guid="*">
                <File Id="fil2CF5B91EFBD9DEDD8714D8168149DDA4" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmp8F2F2AFC021587C179C141365A3D6BB6" Guid="*">
                <File Id="filFEE32DF5E1B121F6551C575EC215FA6C" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp3FBF34ED4FE4614A5981C3EB0EB7278D" Guid="*">
                <File Id="filA62CCE7E4F5181012C025007FA0AA5D9" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp21ED214D6D9049B022FAC25D88F0E22E" Guid="*">
                <File Id="filFF6AD922A4CD98F2A1E34932CFF7A5F5" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmp3B22BEC510D0BA95B49CC4731E0B72AB" Guid="*">
                <File Id="fil81CB2A319A11C5A4517E9F446F320466" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmpAA3288E4E0F8EDD4B915BDB149D58D86" Guid="*">
                <File Id="fil44F3D27E20C6EEE750BADDBD54625F17" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmp075C0CF977B23B7E530FD43DCCCD0BA8" Guid="*">
                <File Id="filCCC31DAE66D8FBA34A41F0A8ABFF9EE1" KeyPath="yes" Source="$(var.HarvestPath)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmp9B40237B1382275DBCF762EC666A3642" Guid="*">
                <File Id="fil2F50D86CEF3234E3D3A6E7D6C3084D66" KeyPath="yes" Source="$(var.HarvestPath)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmpA6081DADA58FA2942DDC74B091A65D72" Guid="*">
                <File Id="fil98FEB7BD0FC19B1E58C62546612BB561" KeyPath="yes" Source="$(var.HarvestPath)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp90E6A6910EED445FDEC1FE472C5CF526" Guid="*">
                <File Id="fil30C13FC312DB3F0753E2487D640E0A7A" KeyPath="yes" Source="$(var.HarvestPath)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp5BFCA70DF937223BA6FF946025D6DFA4" Guid="*">
                <File Id="fil01B3FF593E90506A42DD4994429ACA3D" KeyPath="yes" Source="$(var.HarvestPath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmp2863E64FC19A1CA67C2F6C9F8AEC7200" Guid="*">
                <File Id="filFDEF66DA4A6F50DF9FF96A902F0CC718" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpB790EE6B9163607EC7935D2DF19C5590" Guid="*">
                <File Id="fil0BB55A0B4FAE6E25CF19F286E60CBC97" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp59CBFE03A226AF8477FCA7546DBCF1BF" Guid="*">
                <File Id="fil01DF515DF66A7F7FB99518A28D87D76D" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.dll" />
            </Component>
            <Component Id="cmp1340F860D05C3E278E5B5D807AB80DB0" Guid="*">
                <File Id="fil4D68F2B2ADF2AA04D3D3D4CCCC4EAAE3" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmpD1D498F7019160F009023115E4FEE6C2" Guid="*">
                <File Id="fil1C908C174C8664738D865D794D78CF1C" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmp5B47063E44613CCE90C8E253A14CC5E5" Guid="*">
                <File Id="fil8857AE510461D63EDBB88B9E6F963952" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp8BB3565982AD2D2DED0C96703059A639" Guid="*">
                <File Id="fil4BC6748D8454C80FEC27E18065B0D1EB" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmp6C0977466AFC8EEE6E38CD3600F8C83C" Guid="*">
                <File Id="fil5FC00FBC83714B0DE187D8603A1EFEBA" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmpF2595E455DEC524BB35E4AC0E09C4F69" Guid="*">
                <File Id="filD37DD2200ADD696D8B5D700BF9487971" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmp3885D41C35A7C698E5E9741272F0BF37" Guid="*">
                <File Id="fil33ED0F9B2CC5AB99A53A92906338B6A8" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmpB6BC4BE5EBB8340A7664DAB01BE973D7" Guid="*">
                <File Id="filCE804542D6FB778C421A696B3B89016D" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpB31F2EB4ED7747D2B1EC2BEB4D5F9A6B" Guid="*">
                <File Id="filEB69B4FC00D20E2A1822A4A11A084E63" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.dll" />
            </Component>
            <Component Id="cmp75F169005ADA3DC2A95F4F7257603060" Guid="*">
                <File Id="fil962F290F7DA61A9ECE4146AB837C5899" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmpFA1D888C360F3B61DDBBB2E2B15A0AF7" Guid="*">
                <File Id="fil607B5B0680F86FA38C04210543CC4E4B" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmp30FC9B24809331DB695A7544E408AADF" Guid="*">
                <File Id="fil690D90C3AA66A0B3F9F4189AC97A80CA" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmpEE6F3C97F8A13DFF50C82F2086ACD931" Guid="*">
                <File Id="fil8D921BBEABD9993326747E67D5B657A6" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp2A4F1DA964EBC16D235E6B85C5F4C470" Guid="*">
                <File Id="fil7A4FB852428F4DD287224B6942A9DDE6" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmp2A8044F741CF06F5621E75D208389078" Guid="*">
                <File Id="filE8BB37829510AB7F100110A1F1AEEC55" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmpAD1E08F90B6A7114815FB78986682365" Guid="*">
                <File Id="fil6A2546CF5875245A515BC214F8F0E788" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp0FC5541E8992775B2D4FEEF5883D7A0D" Guid="*">
                <File Id="filE2F41415978D7915548AA2BC6DE80848" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmpF89F1FA48B1DA1CFD5BF3D3965A27836" Guid="*">
                <File Id="fil7B8C44B11A6ACCCB7FCBAA45F48B3E50" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp034B40EC21535B804709C422E6963EBB" Guid="*">
                <File Id="filC7AD2C6BF241C09EEEABFAD78CD42872" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmpAAFBD0B608B2D5A98F19D1B368C06F5E" Guid="*">
                <File Id="fil36CD1E810E86D89C7288E2DFB4415CB8" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpC5062445DA9609107D43D73033E1B891" Guid="*">
                <File Id="fil0AA5C1955473E782DBD41FE6D91B2201" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmpB6498C4CE4FBAB2BE61E7E78764F402A" Guid="*">
                <File Id="fil3D1010E5A2D9D9948B2F3C448F09D5AC" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmp80A2E58399E3E2800D2343BF09753328" Guid="*">
                <File Id="fil2FE01FAB9AEB43F1321AA1EEF0D85FFC" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmpDFD28E9D7CD80800F14AA14DED487CFE" Guid="*">
                <File Id="fil6406570AFCB07402E5684512197F7204" KeyPath="yes" Source="$(var.HarvestPath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmpA3038A3D1F72A00B149E6F759F6786AC" Guid="*">
                <File Id="filCAEF4A2574FBC6B7F01DDD25C797E1CB" KeyPath="yes" Source="$(var.HarvestPath)\System.Reflection.dll" />
            </Component>
            <Component Id="cmp9AEFC5F55F644A7ABBC072F54A6475E2" Guid="*">
                <File Id="filBBBF0703249F1C8EFBCF6825C9A9C8B0" KeyPath="yes" Source="$(var.HarvestPath)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp1015F0C158D41E6CB0412B4E21E94620" Guid="*">
                <File Id="fil73DFE0E913AA91675AB8E98A35762967" KeyPath="yes" Source="$(var.HarvestPath)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp609558733F6FC6F9992DE4840E299F2F" Guid="*">
                <File Id="filA73577FE4A530A559FFAFCA40DE558D1" KeyPath="yes" Source="$(var.HarvestPath)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmpED167AAE4D9652874A1F649DCF15D809" Guid="*">
                <File Id="filB0895EC75923C8A047BAB632ED386910" KeyPath="yes" Source="$(var.HarvestPath)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp32264F2B218F58B031B8DB4D6BF26C84" Guid="*">
                <File Id="filEA04C0B31CD2D55CE93DB70A387ACCA6" KeyPath="yes" Source="$(var.HarvestPath)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmp123018225749B93143B4E5497284F4D8" Guid="*">
                <File Id="fil1C1483B93071FAB4EB45AA05BC0E0369" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpEC91232D7849C69CFED0D9ADD00D899C" Guid="*">
                <File Id="filA501A633D8D7BFED090F0897B8958F56" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmp260DE7C401C22EB79740ABDEA4132615" Guid="*">
                <File Id="fil182542F79221E681CA12F1D7D4A2BEC5" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp09B6176846D7CE6FDB48C9F54C656892" Guid="*">
                <File Id="fil433FA67E647004715737FF11A145FD88" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmp7E01189842FF6F97EC1EB8AA9D9A419B" Guid="*">
                <File Id="fil6D0F9FBB8445400B4970B2077708C324" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmpA3344444913F8D1FFF812DD5357942C9" Guid="*">
                <File Id="fil2D58D81E19F3A60A5D08759FA7CBF803" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp645D17866E8EF740F3BC7C7C15EB9179" Guid="*">
                <File Id="filE2BC10E6E7520E2CD2607AD79E65F022" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpE26941E1D61037D01D2C79CA7C220889" Guid="*">
                <File Id="fil3C92887DA6403365C3A004396FE2F372" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmpA1601517DFCF81729F22B5A9732B6B5A" Guid="*">
                <File Id="fil5266005C932261152C2D4C47F7EA7176" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmp1E1E24B85C6503A2F5C0C212DA1E98E8" Guid="*">
                <File Id="filE88B983F1FA3DE424EF4C93163ECE798" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmp348EB75981D71CE0A8A70C1BCA0D236D" Guid="*">
                <File Id="fil1E17BF1986DE702B327B2C028B4F1CE9" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmpDFDFBACC155293EAEE72041843D52448" Guid="*">
                <File Id="fil85F4FEA761481E92716DB303C8058A22" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmp82A4FB6B17B124A2D5D14DC834E5B497" Guid="*">
                <File Id="fil8F33CEEE27AF3EDE01F1AADEDAD35E41" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmp900E7668FF32775261855B5787428B31" Guid="*">
                <File Id="filD98117EA909B9817139579A365507ECC" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp7936031385B10B4F1D77F1B03BA2F302" Guid="*">
                <File Id="fil38AE0B003AA45E23BD0421BAD901F6F6" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmpB784E9FD48198562A8AFDA6AAABC6ED7" Guid="*">
                <File Id="fil63DBFBBB61FA7ECA0C6AA6A30EF29ECF" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp07067513E9EA0BB6BD288AB172E274D4" Guid="*">
                <File Id="fil5FE1DF7E3C0B18A948ADC7E812E9B010" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp855D9ECECEA220C537A9988D2AC2ADA0" Guid="*">
                <File Id="fil048557F1B59B9897DE89550832A8C912" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp58A622E105AA00C2B6DCDB1075F60CC3" Guid="*">
                <File Id="fil68F5FD1006176A2DEB9D96EBD3416DA6" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmpAC5022F8CFEE23504DFD4ED3AA985AA0" Guid="*">
                <File Id="fil74AFDF74EF912E79AF9D8B41D7C19096" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp08D072027983A81E43D0B0C829962D30" Guid="*">
                <File Id="fil0DE302910DB8463B30B83CCE24959C55" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmpE392EE68F400FDAF2CF92E15EF792F80" Guid="*">
                <File Id="fil0151EDB59DF909E66816A62A999B82EE" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmpDC91FF7BEE221BA11513FEFB8753FA23" Guid="*">
                <File Id="fil8BB77456A5014118DA322565CFC7FCE0" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmpFE1127C98958F7F3511F3B36A00C8AC2" Guid="*">
                <File Id="fil45D1EFA5FFD97E14FDD6F769A860C9BC" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.dll" />
            </Component>
            <Component Id="cmp541CEA514938ABBA05B1A1B5DC384CD3" Guid="*">
                <File Id="fil05D4E4BB687C142B69C7EED4673F262A" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmpF58699515D0CBBD6A88E749CEAB2C03E" Guid="*">
                <File Id="filA24F6A62977D9960AC1AC6F8EBB31790" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp16BAB7F8B9013BEBFE50BA9573C5AD02" Guid="*">
                <File Id="fil645EF2635B6C482E00C98BCE21710AA0" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmpD63DD728A3F00FF4ECFE4932CFAD7190" Guid="*">
                <File Id="filDBD5ACAF5A478CE240F333FFCB61F490" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp6F91B5A32A100D9210A451AFB06D44DB" Guid="*">
                <File Id="filF170322CF4D2115C65B1FFC5DCDF3A23" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmpB24C906C49ED68E413B1A29167531DB6" Guid="*">
                <File Id="filEC76A2E8112946679D7A7333B8A55175" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmp551BF5D6184803444E81D9ECA9AF6946" Guid="*">
                <File Id="fil437F5EA7440B28A3C0F2B8C4967A986A" KeyPath="yes" Source="$(var.HarvestPath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmpF7A83EF6EDD2BD2F89770A4A0F8C07B1" Guid="*">
                <File Id="fil419C3F69157663647462998A19C4A01F" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmpBBC346B7784585A63094516DE8F9D17C" Guid="*">
                <File Id="fil520ECBCAEF6B23E28B0C8720F3796A3A" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp5A4B234BA09600119E19247B0D8E6FE6" Guid="*">
                <File Id="filD05F5BA97FA58EB038BED7A946452E3B" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp66E4148CF7A98B863F61F672B9E24AC4" Guid="*">
                <File Id="fil6E3786634AEC010B38A922B665BD84FB" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmp4F481D298443566D3A9D42A19D898A27" Guid="*">
                <File Id="filF0535AC078C26064F5DD5096C128F06C" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp7C8D238EF735D170352B03B6D6CD1FBD" Guid="*">
                <File Id="fil47BCC2ACB34A0B8CC927AAE69CBE5A50" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XPath.XDocument.dll" />
            </Component>
            <Directory Id="dir5A35335DFFA0A4B88160BBA307048754" Name="amd64">
                <Component Id="cmp5615746FF053209664BA4CFE12EE3D4A" Guid="*">
                    <File Id="fil1E172FC945101B4849E7400DD6D8A2FC" KeyPath="yes" Source="$(var.HarvestPath)\amd64\sqlceca40.dll" />
                </Component>
                <Component Id="cmpB3A8789BE901D4F3789AF14A59A905CA" Guid="*">
                    <File Id="filE82EDEFEA97E7815F381093A02CD1C3A" KeyPath="yes" Source="$(var.HarvestPath)\amd64\sqlcecompact40.dll" />
                </Component>
                <Component Id="cmpD65FD3E4ACB5138E04B461B273935311" Guid="*">
                    <File Id="fil3294B3E6AC7435091D42E5BD13B13171" KeyPath="yes" Source="$(var.HarvestPath)\amd64\sqlceer40EN.dll" />
                </Component>
                <Component Id="cmp2C174C61C7D510053EA979F123AAB7A6" Guid="*">
                    <File Id="fil14AB47296758F4D6190C8E94810DCC39" KeyPath="yes" Source="$(var.HarvestPath)\amd64\sqlceme40.dll" />
                </Component>
                <Component Id="cmp19AC0C641CC43045976A69C4B0A45C98" Guid="*">
                    <File Id="filDB876957FE9C64E5239BA0EF7B67E448" KeyPath="yes" Source="$(var.HarvestPath)\amd64\sqlceqp40.dll" />
                </Component>
                <Component Id="cmp9F4ECF849BF14355799255E252362058" Guid="*">
                    <File Id="fil60D3F88B4BB630A89CD440EFA8A105D8" KeyPath="yes" Source="$(var.HarvestPath)\amd64\sqlcese40.dll" />
                </Component>
            </Directory>
            <Directory Id="dirDCA185D1B92EA016355E8EBFD76289B7" Name="x86">
                <Component Id="cmp62A24B991E0B7D1C5D392BE2369EDFB6" Guid="*">
                    <File Id="fil0283849711B3CAD15826402BC9580DA2" KeyPath="yes" Source="$(var.HarvestPath)\x86\sqlceca40.dll" />
                </Component>
                <Component Id="cmpB66F7F93A186D0A256A5F62637C903B9" Guid="*">
                    <File Id="fil6D7CE764C24E49B061FD7AC0C5542D12" KeyPath="yes" Source="$(var.HarvestPath)\x86\sqlcecompact40.dll" />
                </Component>
                <Component Id="cmp78E11FAA7BEDBE73648191ADBC357A29" Guid="*">
                    <File Id="fil8FD6D3CB5C1D1915EEA81859EC62BA30" KeyPath="yes" Source="$(var.HarvestPath)\x86\sqlceer40EN.dll" />
                </Component>
                <Component Id="cmp6477E7AC0C45B05063273B3A9C911989" Guid="*">
                    <File Id="fil9F2627E96497F0912C675D733AED7E69" KeyPath="yes" Source="$(var.HarvestPath)\x86\sqlceme40.dll" />
                </Component>
                <Component Id="cmp38A95F268423940EA64CF3F15B4A4C85" Guid="*">
                    <File Id="fil879250E20C1A05065EE86DEE23979573" KeyPath="yes" Source="$(var.HarvestPath)\x86\sqlceqp40.dll" />
                </Component>
                <Component Id="cmp72057321C2E9672F0D0900E0C4C2B69C" Guid="*">
                    <File Id="filA183C62CA3A2DBFECFE5E43BF400FAE3" KeyPath="yes" Source="$(var.HarvestPath)\x86\sqlcese40.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmpB4EC2627BDB13AAF4ADEC9F474A61E7C" />
            <ComponentRef Id="cmpCC0016ACC4ED654B6C8E5B7F9B0C9420" />
            <ComponentRef Id="cmp4DAA1D59EDC481FF80AC910367D153B5" />
            <ComponentRef Id="cmp07A234C7891318D2D5BD05565EE3AEA5" />
            <ComponentRef Id="cmp381EC80B490A953D6597072496F92B2E" />
            <ComponentRef Id="cmp1D15F52EE2DA47C837A931786171486E" />
            <ComponentRef Id="cmp73D43A99BB20724CF1D2570FFADFB9B4" />
            <ComponentRef Id="cmpB90445A7ACE6DB26DFB11BCC87A2B5CD" />
            <ComponentRef Id="cmpE37EFC5934FFAB85B42D08B00640E3F9" />
            <ComponentRef Id="cmp8FF20BB6E9E1039BAAF705C6E421B34E" />
            <ComponentRef Id="cmp9600FEB1902D7DA917FD445DDA9F3CBA" />
            <ComponentRef Id="cmp9F2C63E021EEC1097662A0016E3A9437" />
            <ComponentRef Id="cmp9A2CE43A4C68F068A7DCE986EE90E208" />
            <ComponentRef Id="cmpCB3A5D76A5E05336DC3B3CA1B4F454AC" />
            <ComponentRef Id="cmpBCA2D2639D9EACD23CDC73FE80070E9B" />
            <ComponentRef Id="cmpCB4D6C6861A296D02F18EF5F7F637249" />
            <ComponentRef Id="cmp75CE102DEC9E6B31BBFEE1083624A0FE" />
            <ComponentRef Id="cmp8F52B0D9603B8CDF0CE9B808F29E8C04" />
            <ComponentRef Id="cmpF2C47B5B4FF40FF256F58C4C998FA865" />
            <ComponentRef Id="cmp067948BD791077DB950FC74F23D9632C" />
            <ComponentRef Id="cmp9CFD8F6077EAA64A188B00D4268FAA1A" />
            <ComponentRef Id="cmp921C9DB1539A19CC0B4105688D50941F" />
            <ComponentRef Id="cmp72974F93C3F42DAFDBFB2867D92E41D9" />
            <ComponentRef Id="cmp1F8B77A1F2F56EB0281FBA71AB1C9365" />
            <ComponentRef Id="cmpB794F0CBE33F3C79421A163136B763C5" />
            <ComponentRef Id="cmp68374DE99DC9F5A25B3283F7906DD559" />
            <ComponentRef Id="cmpF66ACC905D7DE02A512393D4B54FB41E" />
            <ComponentRef Id="cmpE9A753B853001A3132F0AC8B18B8EB00" />
            <ComponentRef Id="cmpE622C3CB93600C548BD343B23FF42EE8" />
            <ComponentRef Id="cmp06C8CDD284EC9C3BFF25B29C5BAFCE79" />
            <ComponentRef Id="cmp5B4A477CCB780900D714C03EBF973289" />
            <ComponentRef Id="cmp2E70A13F8878B3D396BFB0F38F143B89" />
            <ComponentRef Id="cmpF1E04B8775339ACC715F8FA97768460D" />
            <ComponentRef Id="cmp22D11CA39403A28AA9AC2DB9105A1273" />
            <ComponentRef Id="cmp07F275DE6D7E9E3A970A1A86777CEF22" />
            <ComponentRef Id="cmpD9FEE78B96F10D88D63C02E70AB799A5" />
            <ComponentRef Id="cmpDA89116CA47D6ED2AE5511C0278ECA46" />
            <ComponentRef Id="cmpCF7D159A9F6C4F17685CC3AA3AB77C61" />
            <ComponentRef Id="cmp92167893C4A70A154F72D6DA80CECEAA" />
            <ComponentRef Id="cmp4B7754714BB7B52B3E216332BD72E98B" />
            <ComponentRef Id="cmp340922508C520AC9F7D53B9608D8BD38" />
            <ComponentRef Id="cmp0F564880F72275CA7677A8DD804A8B17" />
            <ComponentRef Id="cmp5E98F56B38CF31482ACC957203361E97" />
            <ComponentRef Id="cmp8F2F2AFC021587C179C141365A3D6BB6" />
            <ComponentRef Id="cmp3FBF34ED4FE4614A5981C3EB0EB7278D" />
            <ComponentRef Id="cmp21ED214D6D9049B022FAC25D88F0E22E" />
            <ComponentRef Id="cmp3B22BEC510D0BA95B49CC4731E0B72AB" />
            <ComponentRef Id="cmpAA3288E4E0F8EDD4B915BDB149D58D86" />
            <ComponentRef Id="cmp075C0CF977B23B7E530FD43DCCCD0BA8" />
            <ComponentRef Id="cmp9B40237B1382275DBCF762EC666A3642" />
            <ComponentRef Id="cmpA6081DADA58FA2942DDC74B091A65D72" />
            <ComponentRef Id="cmp90E6A6910EED445FDEC1FE472C5CF526" />
            <ComponentRef Id="cmp5BFCA70DF937223BA6FF946025D6DFA4" />
            <ComponentRef Id="cmp2863E64FC19A1CA67C2F6C9F8AEC7200" />
            <ComponentRef Id="cmpB790EE6B9163607EC7935D2DF19C5590" />
            <ComponentRef Id="cmp59CBFE03A226AF8477FCA7546DBCF1BF" />
            <ComponentRef Id="cmp1340F860D05C3E278E5B5D807AB80DB0" />
            <ComponentRef Id="cmpD1D498F7019160F009023115E4FEE6C2" />
            <ComponentRef Id="cmp5B47063E44613CCE90C8E253A14CC5E5" />
            <ComponentRef Id="cmp8BB3565982AD2D2DED0C96703059A639" />
            <ComponentRef Id="cmp6C0977466AFC8EEE6E38CD3600F8C83C" />
            <ComponentRef Id="cmpF2595E455DEC524BB35E4AC0E09C4F69" />
            <ComponentRef Id="cmp3885D41C35A7C698E5E9741272F0BF37" />
            <ComponentRef Id="cmpB6BC4BE5EBB8340A7664DAB01BE973D7" />
            <ComponentRef Id="cmpB31F2EB4ED7747D2B1EC2BEB4D5F9A6B" />
            <ComponentRef Id="cmp75F169005ADA3DC2A95F4F7257603060" />
            <ComponentRef Id="cmpFA1D888C360F3B61DDBBB2E2B15A0AF7" />
            <ComponentRef Id="cmp30FC9B24809331DB695A7544E408AADF" />
            <ComponentRef Id="cmpEE6F3C97F8A13DFF50C82F2086ACD931" />
            <ComponentRef Id="cmp2A4F1DA964EBC16D235E6B85C5F4C470" />
            <ComponentRef Id="cmp2A8044F741CF06F5621E75D208389078" />
            <ComponentRef Id="cmpAD1E08F90B6A7114815FB78986682365" />
            <ComponentRef Id="cmp0FC5541E8992775B2D4FEEF5883D7A0D" />
            <ComponentRef Id="cmpF89F1FA48B1DA1CFD5BF3D3965A27836" />
            <ComponentRef Id="cmp034B40EC21535B804709C422E6963EBB" />
            <ComponentRef Id="cmpAAFBD0B608B2D5A98F19D1B368C06F5E" />
            <ComponentRef Id="cmpC5062445DA9609107D43D73033E1B891" />
            <ComponentRef Id="cmpB6498C4CE4FBAB2BE61E7E78764F402A" />
            <ComponentRef Id="cmp80A2E58399E3E2800D2343BF09753328" />
            <ComponentRef Id="cmpDFD28E9D7CD80800F14AA14DED487CFE" />
            <ComponentRef Id="cmpA3038A3D1F72A00B149E6F759F6786AC" />
            <ComponentRef Id="cmp9AEFC5F55F644A7ABBC072F54A6475E2" />
            <ComponentRef Id="cmp1015F0C158D41E6CB0412B4E21E94620" />
            <ComponentRef Id="cmp609558733F6FC6F9992DE4840E299F2F" />
            <ComponentRef Id="cmpED167AAE4D9652874A1F649DCF15D809" />
            <ComponentRef Id="cmp32264F2B218F58B031B8DB4D6BF26C84" />
            <ComponentRef Id="cmp123018225749B93143B4E5497284F4D8" />
            <ComponentRef Id="cmpEC91232D7849C69CFED0D9ADD00D899C" />
            <ComponentRef Id="cmp260DE7C401C22EB79740ABDEA4132615" />
            <ComponentRef Id="cmp09B6176846D7CE6FDB48C9F54C656892" />
            <ComponentRef Id="cmp7E01189842FF6F97EC1EB8AA9D9A419B" />
            <ComponentRef Id="cmpA3344444913F8D1FFF812DD5357942C9" />
            <ComponentRef Id="cmp645D17866E8EF740F3BC7C7C15EB9179" />
            <ComponentRef Id="cmpE26941E1D61037D01D2C79CA7C220889" />
            <ComponentRef Id="cmpA1601517DFCF81729F22B5A9732B6B5A" />
            <ComponentRef Id="cmp1E1E24B85C6503A2F5C0C212DA1E98E8" />
            <ComponentRef Id="cmp348EB75981D71CE0A8A70C1BCA0D236D" />
            <ComponentRef Id="cmpDFDFBACC155293EAEE72041843D52448" />
            <ComponentRef Id="cmp82A4FB6B17B124A2D5D14DC834E5B497" />
            <ComponentRef Id="cmp900E7668FF32775261855B5787428B31" />
            <ComponentRef Id="cmp7936031385B10B4F1D77F1B03BA2F302" />
            <ComponentRef Id="cmpB784E9FD48198562A8AFDA6AAABC6ED7" />
            <ComponentRef Id="cmp07067513E9EA0BB6BD288AB172E274D4" />
            <ComponentRef Id="cmp855D9ECECEA220C537A9988D2AC2ADA0" />
            <ComponentRef Id="cmp58A622E105AA00C2B6DCDB1075F60CC3" />
            <ComponentRef Id="cmpAC5022F8CFEE23504DFD4ED3AA985AA0" />
            <ComponentRef Id="cmp08D072027983A81E43D0B0C829962D30" />
            <ComponentRef Id="cmpE392EE68F400FDAF2CF92E15EF792F80" />
            <ComponentRef Id="cmpDC91FF7BEE221BA11513FEFB8753FA23" />
            <ComponentRef Id="cmpFE1127C98958F7F3511F3B36A00C8AC2" />
            <ComponentRef Id="cmp541CEA514938ABBA05B1A1B5DC384CD3" />
            <ComponentRef Id="cmpF58699515D0CBBD6A88E749CEAB2C03E" />
            <ComponentRef Id="cmp16BAB7F8B9013BEBFE50BA9573C5AD02" />
            <ComponentRef Id="cmpD63DD728A3F00FF4ECFE4932CFAD7190" />
            <ComponentRef Id="cmp6F91B5A32A100D9210A451AFB06D44DB" />
            <ComponentRef Id="cmpB24C906C49ED68E413B1A29167531DB6" />
            <ComponentRef Id="cmp551BF5D6184803444E81D9ECA9AF6946" />
            <ComponentRef Id="cmpF7A83EF6EDD2BD2F89770A4A0F8C07B1" />
            <ComponentRef Id="cmpBBC346B7784585A63094516DE8F9D17C" />
            <ComponentRef Id="cmp5A4B234BA09600119E19247B0D8E6FE6" />
            <ComponentRef Id="cmp66E4148CF7A98B863F61F672B9E24AC4" />
            <ComponentRef Id="cmp4F481D298443566D3A9D42A19D898A27" />
            <ComponentRef Id="cmp7C8D238EF735D170352B03B6D6CD1FBD" />
            <ComponentRef Id="cmp5615746FF053209664BA4CFE12EE3D4A" />
            <ComponentRef Id="cmpB3A8789BE901D4F3789AF14A59A905CA" />
            <ComponentRef Id="cmpD65FD3E4ACB5138E04B461B273935311" />
            <ComponentRef Id="cmp2C174C61C7D510053EA979F123AAB7A6" />
            <ComponentRef Id="cmp19AC0C641CC43045976A69C4B0A45C98" />
            <ComponentRef Id="cmp9F4ECF849BF14355799255E252362058" />
            <ComponentRef Id="cmp62A24B991E0B7D1C5D392BE2369EDFB6" />
            <ComponentRef Id="cmpB66F7F93A186D0A256A5F62637C903B9" />
            <ComponentRef Id="cmp78E11FAA7BEDBE73648191ADBC357A29" />
            <ComponentRef Id="cmp6477E7AC0C45B05063273B3A9C911989" />
            <ComponentRef Id="cmp38A95F268423940EA64CF3F15B4A4C85" />
            <ComponentRef Id="cmp72057321C2E9672F0D0900E0C4C2B69C" />
        </ComponentGroup>
    </Fragment>
</Wix>